<br>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Articles</h3>
  </div>
  <div class="panel-body">
      <div class="list-group">
        <% @articles.each do |article|%>
        <a href="/articles/<%=article.id%>" class="list-group-item">
          <h4 class="list-group-item-heading"><%= article.title %></h4>
          <p class="list-group-item-text"><%= article.summary%>   <small><strong>from</strong> <%= @sources.find(article.source_id).source_name%></small></p>
        </a>
        <% end %>
    </div>
  </div>
</div>
</div>
